:root{
  /* font-size: 24px; */
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
}

body{
  text-align: center;
}

.products-list{
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.products-list .product{
  padding: 2rem;
  box-shadow: 0px 0px 20px gray;
  border-radius: 1rem;
}
.register-form {
  display: flex;
  justify-content: center;
  gap:1rem
}
.register-form * {
  padding:1rem;

}